img{
	width: 30px;
	height: 50px;
}

.item{
	color: black; 
	display: block;
	padding: 10px;
	
	transition: all 0.8s;
}

.active{
	background-color: grey;
}

.item:hover{
	padding-left: 40px;
	color: green;
}